<div class="container" ng-controller="DirectoryCtrl">
    <div class="row">
        <div class="col-md-12">
            <ul class="sb-breadcrumb">
                <li class="sb-breadcrumb__item"><a class="sb-breadcrumb__item-href" href="#/">Справочники</a></li>
                <li class="sb-breadcrumb__item"> <span class="sb-breadcrumb__item-splitter">&#8594;</span></li>
            </ul>
            <h1>{{ dy.directory.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="sb-btn sb-btn__success">+ Создать новый</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8  col-xs-8">
            <table class="sb-table" width="100%">
                <thead >
                    <tr>
                        <th ng-repeat="item in dy.directory.fields" class="sb-table__head-elem sb-table__elem-{{ item.id }}" >{{ item.name }}</th>
                    </tr>
                </thead>
            </table>

            <table class="sb-table sb-table__box-shadow" width="100%">
                <tbody class="sb-table__body">
                    <tr class="sb-table__body-item" ng-repeat="item in dy.directory.items | filter:search">
                        <td class="sb-table__body-item-elem sb-table__elem-name"><a href="#/entry/{{ item['id'] }}">{{ item['name'] }}</a></td>
                        <td class="sb-table__body-item-elem sb-table__elem-weight">{{ item['weight'] }}</td>
                        <td class="sb-table__body-item-elem sb-table__elem-point">{{ item['point'] }}</td>
                        <td class="sb-table__body-item-elem sb-table__elem-endDate">{{ item['endDate']| date }}</td>
                        {{$index}}
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="sb-search">
                <label class="sb-search__label">Фильтр</label>
                <div class="sb-search__body">
                    <input class="sb-search__body-input form-control" type="text" ng-model="search" placeholder="Поиск">
                </div>

            </div>
        </div>
    </div>
</div>

